$mdDialog-small-width: 540px;
$mdDialog-medium-width: 720px;
$mdDialog-mediumLarge-width: 960px;
$mdDialog-large-width: 1024px;

$mdDialog-innerPaddingV: 28px;
$mdDialog-innerPaddingH: 24px;

$mdDialog-toolbars-PaddingV: 18px;

.mdDialog--small,
.mdDialog--fullscreenScroll.mdDialog--small
  .mdDialog--fullscreenScroll-content {
  width: 90%;
  max-width: $mdDialog-small-width;
}
.mdDialog--medium,
.mdDialog--fullscreenScroll.mdDialog--medium
  .mdDialog--fullscreenScroll-content {
  width: 100%;
  max-width: $mdDialog-medium-width;
}

.mdDialog--fullscreen,
.mdDialog--fullscreenScroll {
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
  border-radius: 0;
}

.mdDialog--paymentIFrame {
  max-width: $mdDialog-mediumLarge-width;
  width: 90%;
}

.mdDialog-body--padded {
  padding: $mdDialog-innerPaddingV $mdDialog-innerPaddingH;
}
.mdDialog-body-segment--padded {
  padding-left: $mdDialog-innerPaddingH;
  padding-right: $mdDialog-innerPaddingH;
  margin-top: $mdDialog-innerPaddingV;
  margin-bottom: $mdDialog-innerPaddingV;
}

md-dialog .mdDialog-actions {
  padding: $mdDialog-toolbars-PaddingV $mdDialog-innerPaddingH;
}

md-dialog .mdDialog-actions {
  > *:not(:last-child) {
    margin-right: $mdDialog-innerPaddingH / 2;
  }
}

md-dialog .mdDialog-headerItems {
  padding: $mdDialog-toolbars-PaddingV $mdDialog-innerPaddingH;
}

.mdDialog--fullscreenScroll {
  overflow: visible;
  background: none;
  display: flex;
  align-items: center;
  box-shadow: none;
  pointer-events: none;
}

.mdDialog--fullscreenScroll-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 5em 3em;
  overflow-y: auto;
  width: 100%;
  align-items: flex-start;
  position: relative;
}

.mdDialog--fullscreenScroll-content {
  overflow: hidden;
  pointer-events: auto;
  max-width: 720px;
  background: white;
  border-radius: 4px;
}
