.u-color-correctionRequest {
    color: $app-color-correctionRequest-base;
}
.u-color-processingIssue {
    color: $app-color-processingIssue-base;
}
.u-color-note {
    color: $app-color-note-base;
}