<!--<div class="PageHeader AppForm-PageHeader">
  <div flex="fill">
    <h3
      class="PageHeader-heading PageHeader-heading--noMargin"
      section-title-autofocus="true"
      tabindex="-1"
    >
      Signing
    </h3>
  </div>
</div>
<div class="AppForm-copy-block AppForm-copy-block--small">
  <div class="AppForm-copy-heading">Print and mail-in your signed form</div>
</div>-->
<div class="AppForm-copy-block AppForm-copy-block--small">
  <span>
    To finish the submission process, you must download, print, and send in a
    hard copy of the form
  </span>
  <strong ng-if="!$ctrl.isSelfSignedOnly">
    signed by{{$ctrl.signatureLines.length > 1 ? " each of the following:" : "
    the following:"}}
  </strong>
  <strong ng-if="$ctrl.isSelfSignedOnly">
    with your signature included.
  </strong>
</div>
<div
  class="AppForm-copy-block AppForm-copy-block--small"
  ng-if="!$ctrl.isSelfSignedOnly"
>
  <table class="SigningRoleTable">
    <tbody class="SigningRoleTable-body">
      <tr class="SigningRoleTable-row" ng-repeat="line in $ctrl.signatureLines">
        <td
          class="SigningRoleTable-cell SigningRoleTable-body-cell SigningRoleTable-cell--stretch"
        >
          <span>{{line.email || line.name}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="AppForm-copy-block AppForm-copy-block--small">
  <span ng-if="$ctrl.isSelfSignedOnly">
    After you've signed,
  </span>
  <span ng-if="!$ctrl.isSelfSignedOnly">
    After collecting the above {{$ctrl.signatureLines.length > 1 ? "signatures"
    : "signature"}},
  </span>
  <span
    ><strong>mail it to the address specified on the form.</strong> Your
    submission will be processed when the signed copy is received.</span
  >
</div>
<div
  class="ComponentWizard-buttonGroup"
  ng-class="{'AppForm-copy-block AppForm-copy-block--small': $ctrl.userHasDownloaded}"
>
  <button
    class="ComponentWizard-button ComponentWizard-button--small"
    ng-class="{'ComponentWizard-button--primary': !$ctrl.userHasDownloaded}"
    ng-click="$ctrl.download($event)"
  >
    {{$ctrl.userHasDownloaded ? 'Re-download' : 'Download'}} Signable Form
  </button>
  <a
    role="button"
    class="ComponentWizard-navLink TextLink TextLink--subdued"
    ng-if="!$ctrl.userHasDownloaded"
    ng-click="$ctrl.handleAlreadyDownloadedClick($event)"
  >
    <em>I've already downloaded this certification form</em>
  </a>
</div>
<div
  class="AppForm-copy-block AppForm-copy-block--small"
  ng-if="$ctrl.userHasDownloaded"
>
  <p>
    Please make sure to send in the completed certification form, or else your
    submission will not be processed.
  </p>
</div>
<div class="ComponentWizard-buttonGroup" ng-if="$ctrl.userHasDownloaded">
  <button
    class="ComponentWizard-button ComponentWizard-button--primary ComponentWizard-button--small"
    ng-click="alert('hello')"
  >
    Submit Form
  </button>
</div>
