<p class="AppForm-text" ng-if="!$ctrl.signingWizard.isSingleSigner">
  Will you need any others to sign this form?
</p>
<p class="AppForm-text" ng-if="$ctrl.signingWizard.isSingleSigner">
  Who will be signing this form?
</p>
<radio-block-group wnd-property="data.selfSignedOnly">
  <radio-block value="true">
    <heading ng-if="$ctrl.signingWizard.isSingleSigner">
      Me
    </heading>
    <heading ng-if="!$ctrl.signingWizard.isSingleSigner">
      No
    </heading>
    <description ng-if="!$ctrl.signingWizard.isSingleSigner">
      I will be the only signer.
    </description>
  </radio-block>
  <radio-block value="false">
    <heading ng-if="$ctrl.signingWizard.isSingleSigner">
      Someone else
    </heading>
    <heading ng-if="!$ctrl.signingWizard.isSingleSigner">
      Yes
    </heading>
    <description ng-if="!$ctrl.signingWizard.isSingleSigner">
      I need to invite other users to sign.
    </description>
  </radio-block>
</radio-block-group>
