<div class="AppForm-copy-block">
  <div class="Alert Alert--success">
    <span>
      {{$ctrl.invites.length}} signing {{$ctrl.invites.length > 1 ? "invites" :
      "invite"}} sent.
    </span>
    <span>&nbsp;</span>
    <span ng-if="$ctrl.isSelfSigned">
      You may also sign now if you wish.
    </span>
  </div>
</div>
<div class="AppForm-copy-block" ng-if="$ctrl.isSelfSigned">
  <div class="AppForm-copy-heading">
    <h3 class="u-headingInherit">Signatures Needed</h3>
  </div>
  <table class="SigningRoleTable">
    <tbody class="SigningRoleTable-body">
      <tr
        class="SigningRoleTable-row"
        ng-repeat="role in $ctrl.roles"
        ng-class="{'SigningTable-row--selected': role.isSelected, 'SigningTable-row--signed': role.isSigned}"
      >
        <td
          class="SigningRoleTable-cell SigningRoleTable-body-cell SigningRoleTable-cell--stretch"
        >
          <strong>{{role.name}}</strong>
        </td>
        <td class="SigningRoleTable-cell SigningRoleTable-body-cell">
          <div layout="horizontal" justify-content="flex-end">
            <button
              class="ComponentWizard-button ComponentWizard-button--small ComponentWizard-button--primary"
              ng-click="$ctrl.openSigningDialog($event, role)"
              style="white-space: nowrap;"
            >
              Sign as {{role.name}}
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
