<div class="AppForm-copy-block" ng-if="!$ctrl.isSingle">
  <p class="AppForm-text">
    Please <strong>fill in information for any users</strong> who will need to
    sign.
    <span ng-if="$ctrl.emailInvitesEnabled"
      >When you finish this process, they will each be
      <strong>sent an email invitation to sign the form.</strong></span
    >
  </p>
  <p class="AppForm-text" ng-if="$ctrl.emailInvitesEnabled">
    Please make sure you specify the correct email address for each user.
  </p>
</div>
<div class="AppForm-copy-block" ng-if="$ctrl.isSingle">
  <p class="AppForm-text">
    Please <strong>fill in information for the user</strong> who will need to
    sign.
    <span ng-if="$ctrl.emailInvitesEnabled"
      >When you finish this process, they will each be
      <strong>sent an email invitation to sign the form.</strong></span
    >
  </p>
  <p class="AppForm-text" ng-if="$ctrl.emailInvitesEnabled">
    Please make sure you specify the correct email address.
  </p>
</div>
<div class="AppForm-copy-block">
  <div class="FormCards">
    <div class="FormCard" ng-repeat="invite in $ctrl.invites track by $index">
      <div class="FormCard-split">
        <div
          class="FormCard-main FormCard-split-item FormCard-split-item--fill"
        >
          <!-- IMPLEMENTATION NOTE: This will probably need to be changed to an actual different model property, since name and email require two different types of validation. -->
          <wnd-field-block
            wnd-model="wndModel.model.data.invites[$index]"
            wnd-label="{{$ctrl.emailInvitesEnabled ? 'Email' : 'Name'}}"
            margin="none"
            full-width="true"
          >
            <wnd-field wnd-property="email">
              <wnd-text></wnd-text>
            </wnd-field>
          </wnd-field-block>
          <!-- <div class="Alert Alert--warning" style="margin-top: 1em;">
            User is missing e-signature credentials, and will need to complete
            the e-signature verification process before they can sign.
          </div> -->
        </div>
        <div
          class="FormCard-main FormCard-split-item FormCard-split-item--fill"
        >
          <wnd-field-block
            wnd-model="wndModel.model.data.invites[$index]"
            wnd-label="Notes (optional)"
            margin="none"
            full-width="true"
          >
            <wnd-field wnd-property="notes">
              <wnd-textarea
                placeholder="Enter any information that will help this user correctly sign the form. i.e. suggesting the correct role to sign under."
              ></wnd-textarea>
            </wnd-field>
          </wnd-field-block>
        </div>
        <div
          class="FormCard-actions FormCard-split-item"
          ng-if="!role.isReadOnly && !$ctrl.isSingle && !$ctrl.oneInviteLeft"
        >
          <button
            class="FormCard-action IconButton IconButton--remove SvgWrap SvgWrap SvgWrap--fillDimensions"
            ng-click="$ctrl.removeInvite($index)"
          >
            <md-tooltip>Remove<span class="sr-only"> Invite</span></md-tooltip>
            ${require('@windsor/static-assets/lib/svg/x.svg')}
          </button>
        </div>
      </div>
    </div>
    <div class="FormCards-item" ng-if="!$ctrl.isSingle">
      <button class="FormCards-addNew" ng-click="$ctrl.addNew()">
        Add Signer
      </button>
    </div>
    <wnd-field-block wnd-model="wndModel.model.data">
      <wnd-field wnd-property="isSelfSigned">
        <wnd-checkbox
          wnd-label="Include myself as a signer (andrew_pomeroy@windsorsolutions.com)"
        ></wnd-checkbox>
      </wnd-field>
    </wnd-field-block>
  </div>
</div>
