<div class="AppForm-copy-block AppForm-copy-block--first">
  <div class="AppForm-copy-step-header">
    <div class="AppForm-copy-step-number">
      {{$ctrl.signingWizard.options.signingMethods.length > 1 ? "2" : "1"}}
    </div>
    <div class="AppForm-copy-step-heading">
      {{$ctrl.signingWizard.isSingleSigner ? "Choose signer" :
      $ctrl.signingWizard.hasRepeatableRoles ? "Configure signing requirements"
      : "Choose signers"}}
    </div>
  </div>
</div>
<div class="AppForm-copy-block">
  <self-signing-selection>
</div>

<!-- Role setup -->

<div
  class="ComponentWizard-largeFadeIn"
  ng-if="$ctrl.signingWizard.hasMultipleRoles && $ctrl.hasEditableRole && $ctrl.wndModel.model.data.selfSignedOnly === false"
>
  <div class="AppForm-copy-block">
    <p class="AppForm-text">
      The form provided the following instructions to help you determine who
      will need to sign, and under which roles:
    </p>
    <div class="AppForm-instructions">
      <p class="AppForm-text">
        Eu ad sunt sunt voluptate cupidatat eiusmod laborum aute ex non nostrud
        nulla eu esse. Ex do cillum nulla mollit qui ut. Sunt consectetur
        pariatur occaecat nulla anim laboris commodo eu nostrud magna ipsum.
        Commodo labore duis consectetur sunt in fugiat minim nulla. Laborum
        reprehenderit et pariatur excepteur occaecat labore excepteur. Dolor
        nulla anim exercitation reprehenderit nostrud.
      </p>
    </div>
    <p class="AppForm-text">
      The form will only be considered complete when
      <strong>all the following roles have been signed for. </strong>You may
      adjust the roles as needed.
    </p>
  </div>
  <div class="AppForm-copy-block">
    <div class="Appform-copy-heading">
      Signatures Needed
    </div>
    <!-- <pre>{{$ctrl.roles}}</pre> -->
    <!-- <pre>{{$ctrl.originalRoles}}</pre> -->
    <div class="FormCards" ng-if="$ctrl.roles.length">
      <div class="FormCard" ng-repeat="role in $ctrl.roles">
        <div class="FormCard-split">
          <div
            class="FormCard-main FormCard-split-item FormCard-split-item--fill"
          >
            <div class="FormCard-heading">
              {{role.name}}
            </div>
            <div>
              {{role.description}}
            </div>
          </div>
          <div
            class="FormCard-actions FormCard-split-item"
            ng-if="!role.isReadOnly"
          >
            <button
              class="FormCard-action IconButton IconButton--remove SvgWrap SvgWrap SvgWrap--fillDimensions"
              ng-if="role.isRepeatable"
              ng-click="$ctrl.copyRole($index)"
            >
              <md-tooltip>Duplicate<span class="sr-only"> Role</span></md-tooltip>
              ${require('@windsor/static-assets/lib/svg/copy.svg')}
            </button>
            <button
              class="FormCard-action IconButton IconButton--remove SvgWrap SvgWrap SvgWrap--fillDimensions"
              ng-click="$ctrl.removeRole($index)"
            >
              <md-tooltip>Remove<span class="sr-only"> Role</span></md-tooltip>
              ${require('@windsor/static-assets/lib/svg/x.svg')}
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="FormCards-item">
        <button class="FormCards-addNew" ng-click="$ctrl.cloneRole()">
          Add New Signature Role
        </button>
      </div> -->
    </div>
  </div>
</div>