<div class="AppForm-copy-block">
  <div class="AppForm-copy-step-header">
    <div class="AppForm-copy-step-number">
      {{$ctrl.signingWizard.options.signingMethods.length > 1 ?
      ($ctrl.signingWizard.hasMultipleRoles ? "3" : "2") : "1"}}
    </div>
    <div class="AppForm-copy-step-heading">
      {{$ctrl.signingWizard.hasMultipleRoles ? "Invite Signers" : "Choose
      Signers"}}
    </div>
  </div>
</div>
<div class="AppForm-copy-block" ng-if="$ctrl.signingWizard.hasMultipleRoles">
  <p class="AppForm-text">
    To help you determine who needs to sign, the form included the following
    instructions:
  </p>
  <div class="AppForm-instructions">
    <p class="AppForm-text">
      Eu ad sunt sunt voluptate cupidatat eiusmod laborum aute ex non nostrud
      nulla eu esse. Ex do cillum nulla mollit qui ut. Sunt consectetur pariatur
      occaecat nulla anim laboris commodo eu nostrud magna ipsum. Commodo labore
      duis consectetur sunt in fugiat minim nulla. Laborum reprehenderit et
      pariatur excepteur occaecat labore excepteur. Dolor nulla anim
      exercitation reprehenderit nostrud.
    </p>
  </div>
  <p class="AppForm-text">
    You will need to gather signatures for each of the following roles:
  </p>
  <ul class="SigningRoleSummary">
    <li
      class="SigningRoleSummary-item"
      ng-repeat="role in $ctrl.wndModel.model.data.signingRoles"
    >
      {{role.name}}
    </li>
  </ul>
</div>
<!-- We've already made this selection on the previous screen, if multiple roles are on the table -->
<div class="AppForm-copy-block" ng-if="!$ctrl.signingWizard.hasMultipleRoles">
  <self-signing-selection></self-signing-selection>
</div>
<div
  class="ComponentWizard-largeFadeIn"
  ng-if="$ctrl.signingWizard.hasMultipleRoles || $ctrl.wndModel.model.data.selfSignedOnly === false"
>
  <div class="AppForm-copy-block">
    <div
      class="AppForm-copy-step-header"
      ng-if="!$ctrl.signingWizard.hasMultipleRoles"
    >
      <div class="AppForm-copy-step-number">
        {{$ctrl.signingWizard.options.signingMethods.length > 1 ? "3" : "2"}}
      </div>
      <div class="AppForm-copy-step-heading">
        {{$ctrl.signingWizard.isSingleSigner ? "Invite a Signer" : "Invite
        Signers"}}
      </div>
    </div>
  </div>
  <signing-invitation-form
    is-single="$ctrl.signingWizard.isSingleSigner"
  ></signing-invitation-form>
</div>
<div
  class="AppForm-copy-block"
  ng-if="!$ctrl.wndModel.model.data.currentUserIsCertified && $ctrl.signingWizard.isReadyForSummary && $ctrl.wndModel.model.data.selfSignedOnly"
>
  <div class="Alert Alert--danger">
    <div layout="vertical" align-items="center">
      <p>
        In order to sign this form, you must be granted electronic-signature
        rights approval by internal staff.
      </p>
      <a ng-click="alert('placeholder')">Request Approval</a>
    </div>
  </div>
</div>
<component-wizard-nav show-complete-button="true">
  <complete-button>
    <button
      class="ComponentWizard-button ComponentWizard-button--next"
      ng-click="$ctrl.onComplete($event)"
      ng-disabled="!$ctrl.signingWizard.isReadyForSummary"
    >
      {{$ctrl.completeButtonText}}
    </button>
  </complete-button>
  <secondary-nav-items>
    <a
      class="ComponentWizard-navLink TextLink TextLink--subdued"
      ng-click="$parent.$parent.$ctrl.signingWizard.finishLater($event)"
    >
      Finish Later
    </a>
  </secondary-nav-items>
</component-wizard-nav>
