<div class="AppForm-copy-block AppForm-copy-block--first">
  <div class="AppForm-copy-heading">
    <h3 class="u-headingInherit">Prepare for Signing</h3>
  </div>

  <div class="AppForm-text">
    <span ng-if="!$ctrl.signingWizard.isSingleSigner">
      To finish submitting this form,
      <strong>the form will need to be signed,</strong> potentially by multiple
      different people. There are several options to configure how this signing
      process will work.
    </span>
    <span ng-if="$ctrl.signingWizard.isSingleSigner">
      To finish submitting this form,
      <strong>the form will need to be signed,</strong> by you or another person
      if you choose.
    </span>
  </div>
</div>

<div class="AppForm-copy-block">
  <div class="AppForm-copy-step-header">
    <div class="AppForm-copy-step-number">1</div>
    <div class="AppForm-copy-step-heading">
      Select signing method
    </div>
  </div>
  <radio-block-group wnd-property="data.signingMethod">
    <radio-block value="digital">
      <heading>Digital Signature</heading>
      <description>
        Users you specify will be invited by email, and given a link to
        digitally sign the form
      </description>
    </radio-block>
    <radio-block value="hardCopy">
      <heading>Hard Copy Signature</heading>
      <description>
        You will print a PDF copy of the form, and gather the appropariate
        signatures. You will then upload a scanned copy of the signed document
        to complete the submission process.
      </description>
    </radio-block>
  </radio-block-group>
</div>
<div
  class="AppForm-copy-block"
  ng-if="!$ctrl.wndModel.model.data.currentUserIsCertified && !$ctrl.wndModel.model.data.invitationsEnabled && $ctrl.wndModel.model.data.signingMethod != null"
>
  <div class="Alert Alert--danger">
    <div layout="vertical" align-items="center">
      <p>
        In order to sign this form, you must be granted electronic-signature
        rights approval by internal staff.
      </p>
      <a ng-click="alert('placeholder')">Request Approval</a>
    </div>
  </div>
</div>
<component-wizard-nav
  show-complete-button="!$ctrl.wndModel.model.data.invitationsEnabled"
>
  <complete-button>
    <button
      class="ComponentWizard-button ComponentWizard-button--next"
      ng-click="$parent.$parent.$parent.$ctrl.signingWizard.openSigningModal($event)"
      ng-disabled="$parent.$ctrl.wndModel.model.data.signingMethod != null"
    >
      Sign
    </button>
  </complete-button>
  <secondary-nav-items>
    <a
      class="ComponentWizard-navLink TextLink TextLink--subdued"
      ng-click="$parent.$parent.$ctrl.signingWizard.finishLater($event)"
    >
      Finish Later
    </a>
  </secondary-nav-items>
</component-wizard-nav>
