<component-wizard model="model">
  <div class="PageHeader AppForm-PageHeader">
    <div flex="fill">
      <h3
        class="PageHeader-heading PageHeader-heading--noMargin"
        section-title-autofocus="true"
        tabindex="-1"
      >
        Signing
      </h3>
    </div>
  </div>
  <!-- <div>{{$ctrl.wndModel}}</div>
  <div>{{$ctrl.options.signingMethods}}</div>
  <div>{{$ctrl.options.signingMethods.length}}</div> -->
  <component-wizard-page ng-if="$ctrl.options.signingMethods.length > 1">
    <signing-setup-page-methods></signing-setup-page-methods>
  </component-wizard-page>
  <component-wizard-page
    is-navigable="$ctrl.wndModel.model.data.signingMethod || $ctrl.options.signingMethods.length < 2"
  >
    <signing-setup-page-signers></signing-setup-page-signers>
  </component-wizard-page>
  <!-- <component-wizard-page is-navigable="true">
    second page
  </component-wizard-page>
  <component-wizard-page is-navigable="$ctrl.letItHappen">
    third page
  </component-wizard-page>
  <component-wizard-page is-navigable="false">
    non navigable page
  </component-wizard-page> -->
</component-wizard>
