<component-wizard model="model">
  <component-wizard-page is-navigable="true">
    <signing-setup-page-methods
      siging-methods="model.signingMethods"
    ></signing-setup-page-methods>
  </component-wizard-page>
  <component-wizard-page is-navigable="true">
    second page
  </component-wizard-page>
  <component-wizard-page is-navigable="$ctrl.letItHappen">
    third page
  </component-wizard-page>
  <component-wizard-page is-navigable="false">
    non navigable page
  </component-wizard-page>
</component-wizard>
