<div class="ComponentWizard-nav">
  <button
    class="ComponentWizard-button ComponentWizard-button--previous"
    ng-if="$ctrl.isPreviousAvailable"
    ng-disabled="!$ctrl.isPreviousNavigable"
    ng-click="$ctrl.previous($event)"
  >
    Previous
  </button>
  <!-- <span>{{$ctrl.componentWizard.currentPageIndex}}</span> -->
  <div ng-if="!$ctrl.showCompleteButton">
    <button
      class="ComponentWizard-button ComponentWizard-button--next"
      ng-if="$ctrl.isNextAvailable"
      ng-disabled="!$ctrl.isNextNavigable"
      ng-click="$ctrl.next($event)"
    >
      Next
    </button>
  </div>
  <div ng-transclude="completeButton" ng-if="$ctrl.showCompleteButton"></div>
</div>
