<div
  class="RadioBlock"
  role="radio"
  ng-class="{'RadioBlock--isActive': $ctrl.isActive}"
  aria-labelledby="{{$ctrl.id}}-label"
  aria-describedby="{{$ctrl.id}}-description"
  aria-checked="{{$ctrl.isActive}}"
  ng-click="$ctrl.activate($event)"
>
  <div class="RadioBlock-column RadioBlock-column--indicator">
    <md-radio-button
      ng-focus="$ctrl.onRadioFocus($event)"
      ng-blur="$ctrl.onRadioBlur($event)"
      ng-value="$ctrl._value"
      tabindex="-1"
    ></md-radio-button>
  </div>
  <div class="RadioBlock-column RadioBlock-column--body" aria-hidden="true">
    <div
      id="{{$ctrl.id}}-label"
      class="RadioBlock-heading"
      ng-transclude="heading"
    ></div>
    <div
      id="{{$ctrl.id}}-description"
      class="RadioBlock-description"
      ng-transclude="description"
    ></div>
  </div>
</div>
