<component-wizard>
  <div class="PageHeader AppForm-PageHeader">
    <div flex="fill">
      <h3
        class="PageHeader-heading PageHeader-heading--noMargin"
        section-title-autofocus="true"
        tabindex="-1"
      >
        Signing
      </h3>
    </div>
  </div>
  <component-wizard-page ng-if="$ctrl.options.signingMethods.length > 1">
    <signing-setup-page-methods></signing-setup-page-methods>
  </component-wizard-page>
  <component-wizard-page
    is-navigable="$ctrl.wndModel.model.data.signingMethod || $ctrl.options.signingMethods.length < 2"
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled && $ctrl.hasMultipleRoles"
  >
    <signing-setup-page-roles
      roles="$ctrl.wndModel.model.data.signingRoles"
      original-roles="$ctrl.wndModel.model.data.signingRolesOriginal"
    ></signing-setup-page-roles>
  </component-wizard-page>
  <component-wizard-page
    is-navigable="$ctrl.isReadyForInvites"
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled"
  >
    <signing-setup-page-invites></signing-setup-page-invites>
  </component-wizard-page>
  <component-wizard-page
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled"
    is-navigable="$ctrl.isReadyForSummary"
  >
    <signing-setup-page-summary></signing-setup-page-summary>
  </component-wizard-page>
  <!-- <component-wizard-page is-navigable="true">
    second page
  </component-wizard-page>
  <component-wizard-page is-navigable="false">
    non navigable page
  </component-wizard-page> -->
</component-wizard>
<md-dialog id="signatureModal">
  hello
</md-dialog>
