<component-wizard ng-if="!$ctrl.areInvitesSent">
  <div class="PageHeader AppForm-PageHeader">
    <div flex="fill">
      <h3
        class="PageHeader-heading PageHeader-heading--noMargin"
        section-title-autofocus="true"
        tabindex="-1"
      >
        Signing
      </h3>
    </div>
  </div>
  <component-wizard-page ng-if="$ctrl.options.signingMethods.length > 1">
    <signing-setup-page-methods></signing-setup-page-methods>
  </component-wizard-page>
  <component-wizard-page
    is-navigable="$ctrl.wndModel.model.data.signingMethod || $ctrl.options.signingMethods.length < 2"
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled && $ctrl.hasMultipleRoles"
  >
    <signing-setup-page-roles
      roles="$ctrl.wndModel.model.data.signingRoles"
      original-roles="$ctrl.wndModel.model.data.signingRolesOriginal"
    ></signing-setup-page-roles>
  </component-wizard-page>
  <component-wizard-page
    is-navigable="$ctrl.isReadyForInvites"
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled"
  >
    <signing-setup-page-invites></signing-setup-page-invites>
  </component-wizard-page>
  <!-- <component-wizard-page
    ng-if="$ctrl.wndModel.model.data.invitationsEnabled"
    is-navigable="$ctrl.isReadyForSummary"
  >
    <signing-setup-summary></signing-setup-summary>
  </component-wizard-page> -->
</component-wizard>
<signing-setup-summary
  ng-if="$ctrl.isReadyForSummary && $ctrl.areInvitesSent"
  class="ComponentWizard-largeFadeIn"
></signing-setup-summary>
<signature-confirmation
  roles="$ctrl.signingConfirmationRoles"
  open-event="$ctrl.signingConfirmationOpenEvent"
  on-close="$ctrl.onSigningConfirmationModalClose"
  on-cancel="$ctrl.onSigningConfirmationModalCancel"
></signature-confirmation>
