<div class="DebugSplit">
  <div class="DebugSplit-controlPanel">
    <h2>Form options</h2>
    <label
      ><input
        type="checkbox"
        ng-model="$ctrl.model.data.currentUserIsCertified"
      />Current User is Certified</label
    >

    <h4>Certification Methods</h4>
    <label><input type="checkbox" ng-model="$ctrl.useDigital" />Digital</label>
    <label
      ><input type="checkbox" ng-model="$ctrl.useHardCopy" />Hard Copy</label
    >
    <h4>
      Invitations
    </h4>
    <label
      ><input type="checkbox" ng-model="$ctrl.invitationsEnabled" />Invitations
      Enabled</label
    >
    <h4>
      Roles
    </h4>
    <select
      ng-model="$ctrl.roleSet"
      ng-options="roleSet.name for roleSet in $ctrl.roleSets"
    >
      <!-- <option ng-repeat="roleSet as roleSet in roleSets"
        >{{$ctrl.roleSets[roleSet]}}</option
      > -->
    </select>
    <h2>Model</h2>
    <pre>{{$ctrl.model.data | json}}</pre>
  </div>
  <div class="DebugSplit-mainPanel">
    <div class="shim AppForm-section-content">
      <signing-wizard
        wnd-model="$ctrl.model"
        options="$ctrl.certificationOptions"
      ></signing-wizard>
    </div>
  </div>
</div>
