@mixin ComponentWizard-largeFadeIn() {
  &.ng-enter {
    opacity: 0;
    transform: translateY(16px);
    transition: 360ms ease-out;
    transition-delay: 180ms;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}
.ComponentWizard-largeFadeIn {
  @include ComponentWizard-largeFadeIn();
}

.ComponentWizard-fadeIn {
  @include ComponentWizard-largeFadeIn();
  &.ng-enter {
    transition: 280ms;
    transition-delay: 60ms;
    transform: translateY(8px);
  }
}

$ComponentWizard-nav-gutter: 16px;
$ComponentWizard-navButton-paddingV: 12px;
$ComponentWizard-navButton-paddingH: 20px;

$ComponentWizard-navButton-background: #8f8f8f;
$ComponentWizard-navButton-background--primary: #128484;

.ComponentWizard-nav {
  display: flex;
  & > :not(:last-child) {
    margin-right: $ComponentWizard-nav-gutter;
  }
}

.ComponentWizard-nav-button {
  @include BlockButton-behaviors();
  border: 0;
  padding: $ComponentWizard-navButton-paddingV
    $ComponentWizard-navButton-paddingH;
  background-color: $ComponentWizard-navButton-background;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 500;
  border-radius: 3px;
  &:not([disabled="disabled"]) {
    &:hover,
    &:focus {
      background-color: lighten($ComponentWizard-navButton-background, 10%);
    }
  }
  &[disabled="disabled"] {
    opacity: 0.4;
  }
}

.ComponentWizard-nav-button--next {
  background-color: $ComponentWizard-navButton-background--primary;
  &:not([disabled="disabled"]) {
    &:hover,
    &:focus {
      background-color: lighten(
        $ComponentWizard-navButton-background--primary,
        10%
      );
    }
  }
}
