$FormCard-gutter: $cell-gutter;
$FormCard-paddingV: $cell-paddingV;
$FormCard-paddingH: $cell-paddingH;
$FormCard-spacingV: $cell-spacingV;
$FormCard-borderColor: $cell-borderColor;
$FormCard-borderRadius: $cell-borderRadius;
$FormCard-shadow: $cell-shadow;
$FormCard-actions-gutter: $FormCard-paddingH / 4;
$FormCard-action-iconSize: 16px;
// $RadioBlock-activeColor: #485e6d;
// $RadioBlock-hoverColor: hsl(hue($RadioBlock-activeColor), 100%, 97%);

@mixin FormCardShape() {
  width: 100%;
  padding: $FormCard-paddingV $FormCard-paddingH;
  border-radius: $FormCard-borderRadius;
}
.FormCard {
  @include FormCardShape();
  border: 1px solid $cell-borderColor;
  box-shadow: $FormCard-shadow;
  @include cell-fadeIn();
}
.FormCard-split,
.FormCard--split {
  display: flex;
  align-items: flex-start;
}
.FormCard-split-item,
.FormCard--split-item {
  flex: 0 0 auto;
}
.FormCard-split-item--fill,
.FormCard--split-item--fill {
  flex: 1;
}
.FormCard-actions {
  align-self: center;
}
.FormCards {
  .FormCard,
  .FormCards-item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: $FormCard-spacingV;
    }
  }
}

.FormCards-addNew {
  @include FormCardShape();
  border: 0;
  background-color: #d2ecfe;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.FormCard-heading {
  @include CellHeading();
}

.FormCard-actions {
  display: flex;
  align-items: center;
  .FormCard-action {
    &:not(:last-child) {
      margin-right: $FormCard-actions-gutter;
    }
  }
}

.FormCard-action {
  height: $FormCard-action-iconSize;
  width: $FormCard-action-iconSize;
  &.IconButton {
    height: 24px;
    width: 24px;
  }
}
