.SigningRoleTable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.SigningRoleTable-body-cell {
  border-top: 1px solid hsl(0, 0%, 79%);
  border-left: 0;
  border-right: 0;
}

.SigningRoleTable-cell {
  border-bottom: 1px solid hsl(0, 0%, 79%);
  padding: 8px 4px;
  height: 52px;
  &:not(:last-child) {
    padding-right: 12px;
  }
  &:not(:first-child) {
    padding-left: 12px;
  }
}

.SigningRoleTable-cell-split {
  display: flex;
}

.SigningRoleTable-cell-split-item {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.SigningRoleTable-row--isSelected {
  background-color: aliceblue;
}

.SigningRoleTable-row--isSigned {
  background-color: $lightGreen;
}

.SigningRoleTable-cell--stretch {
  width: 100%;
}

.SigningRoleTable-header-cell {
  font-weight: 500;
  text-align: left;
}

.SigningRoleTable-cell--alignRight {
  text-align: right;
}

.SigningRoleTable-row--strong,
.SigningRoleTable-cell--strong {
  font-weight: bold;
}

.SigningRoleTable-statusText {
  text-transform: uppercase;
  color: #128484;
  font-weight: 500;
}
