.AppForm-copy-heading {
  font-size: 24px;
  margin-bottom: 1em;
}

.AppForm-copy-block {
  margin-bottom: 40px;
}

.AppForm-copy-step-header {
  display: flex;
  align-items: center;
  font-size: 21px;
  margin-bottom: 32px;
}

.AppForm-copy-step-number {
  font-size: 0.85em;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  margin-right: 0.75em;
  background: $lightGreen;
  color: $darkGreen;
}
